header-height = 60px
bg-theme-color = #f0f1f5
bg-modifier-color = #ccc
bg-reverse-color = #2D2F33
line-theme-color = rgb(85,85,85)
line-modifier-color = #fff
font-theme-color = rgb(85,85,85)
font-modifier-color =  rgb(153,153,153)
line-reverse-color = #888
font-title-color = #555
radius-theme-size = 4px 


padding-space = 8px
font-size-h = 12px
font-size-p = 16px