{{#if isLogin}}
  <a href="javascript:;" data-router="write" class="blog-head--avatar">
    <img src="./public/img/avator.jpg" alt="!" />
    <i class="blog-head--write glyphicon glyphicon-pencil"></i>
  </a>
{{else}}
  <a href="javascript:;" class="blog-btn--login" data-modal="login">登录</a>
  /
  <a
    href="javascript:;"
    class="blog-btn--register"
    data-modal="register"
  >注册</a>
{{/if}}