<div class="blog-write">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">标题</h3>
    </div>
    <div class="panel-body">
      <input
        id="blog-write-title"
        class="blog-write--input"
        type="text"
        placeholder="文章标题(必填)"
      />
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">内容</h3>
    </div>
    <div class="panel-body">
      <div class="blog-write--wrap">

      </div>
    </div>
  </div>

  <div class="blog-write--control">
    <a data-router="editor/submit" href="javascript:;">提交</a>
  </div>
</div>