.blog-write
  padding padding-space 

.blog-write--control
  display grid
  grid-template-columns 2fr 2fr
  text-align center
  & a
    padding padding-space
    border 1px solid bg-modifier-color
    &:hover
      background-color bg-theme-color

      