<div class="blog-write">
  <div class="blog-write--wrap">

  </div>
  <div class="blog-write--control">
    <a data-router="editor/clean" href="javascript:;">清空</a>
    <a data-router="editor/submit" href="javascript:;">提交</a>
  </div>
</div>